.category{
  width: 100%;
  padding: 25px;
  flex-direction: column;
}

table, td, th {
  gap: 10px;
}

td{
  gap: 10px;
  margin: 10px;
}

td img{
  width: 50px;
}

table {
  margin: 50px 0;
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 40px;
  padding: 10px;
  transition: 0.33s;
  background-color: antiquewhite;
}

th:hover {
  background-color: rgb(237, 216, 189);
}

tr {
  padding: 20px;
  transition: 0.33s;
  text-align: center;
  background-color: aliceblue;
}

tr:hover{
  background-color: rgb(211, 228, 243);
}

td{
  padding: 10px;
  transition: 0.33s;
}

td:hover{
  background-color: rgb(202, 223, 242);
}

.category-table-box h2{
  color: aliceblue;
  font-size: 1.8rem;
  text-align: center;
}
